:root {
  --color-light: #fff;
  --color-bg-light: #e5e5e5;
  --color-grey-light: #85859b;
  --color-grey: #666;
  --color-blue-dark: #2e2b44;
  --color-grey-dark: #212133;
  --color-dark: #000;
  --color-blue: #3f2aff;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
    url('fonts/RobotoRegular.woff2') format('woff2'),
    url('fonts/RobotoRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
    url('fonts/RobotoBold.woff2') format('woff2'),
    url('fonts/RobotoBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg-light);
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
}

a {
  text-decoration: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-fill {
  border-radius: 20px;
  background-color: var(--color-blue);
  color: var(--color-light);
  -webkit-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.list-reset {
  list-style: none;
  padding: 0;
}

.container-limit {
  max-width: 1140px;
  height: 100%;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

/* header */

.burger {
  display: none;
}

.logo-container {
  padding-top: 29px;
  height: 80px;
}

.header {
  /* height: 80px; */
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-blue);
  color: var(--color-light);
}

.header__nav {
  margin-right: 2px;
  padding-bottom: 2px;
  padding-left: 87px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* hero */

.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
  color: var(--color-light);
}

.hero__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.hero__content {
  padding: 130px 15px;
  padding-right: 55px;
}

.hero__descr {
  margin-bottom: 62px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.hero__btn {
  padding: 23px 75px;
  padding-top: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: inherit;
}

.hero__image {
  position: relative;
  background-image: url("../img/hero.svg");
  background-repeat: no-repeat;
  background-position: 14px 15px;
}

.hero__romb {
  position: absolute;
  left: -78px;
  top: 57px;
  width: 203.66px;
  height: 152.75px;
  background-image: url("../img/hero-romb.svg");
  background-repeat: no-repeat;
  background-position: 0 -15px;
}

/* advantages */

.advantages {
  padding: 80px 0;
}

.advantages__image {
  position: relative;
  top: 22px;
  left: 15px;
  width: 160px;
  height: 142px;
  background-image: url("../img/advantages.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__title {
  margin-bottom: 18px;
  padding-right: 30%;
  color: var(--color-blue-dark);
}

.advantages__content {
  padding-left: 15px;
  padding-right: 25px;
  margin-bottom: 20px;
}

.advantages__text {
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-grey);
}

.advantages__icons {
  margin-right: -5px;
  min-width: 80px;
  height: 82px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.advantages__icons--1 {
  background-image: url("../img/eye-circle.svg");
}

.advantages__icons--2 {
  background-image: url("../img/fingers.svg");
}

.advantages__icons--3 {
  background-image: url("../img/bullhorn.svg");
}

.advantages__paragraph {
  padding-top: 15px;
  padding-left: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-grey);
}

/* teaches */

.teachers {
  padding-top: 75px;
  padding-bottom: 72px;
  background-color: var(--color-grey-dark);
}

.teachers__title {
  margin-bottom: 23px;
  padding-left: 15px;
  color: var(--color-light);
}

.teachers__photo>img {
  margin-bottom: 27px;
  border-radius: 23px 23px 0px 0px;
}

.teachers__name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-light);
}

.teachers__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-grey-light);
}

/* courses */

.courses {
  padding-top: 75px;
  padding-bottom: 50px;
}

.courses__image {
  margin-bottom: 4px;
  border-radius: 20px 20px 0px 0px;
  max-width: 539px;
  height: 181px;
  background-size: cover;
  background-repeat: no-repeat;
}

.courses__image--1 {
  background-image: url("../img/course-lg-1.jpg");
}

.courses__image--2 {
  background-image: url("../img/course-lg-2.jpg");
}

.courses__image--3 {
  background-image: url("../img/course-lg-3.jpg");
}

.courses__image--4 {
  background-image: url("../img/course-lg-4.jpg");
}

.courses__title {
  margin-bottom: 23px;
  padding-left: 15px;
  color: var(--color-grey-dark);
}

.courses__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 300px;
  margin-top: -5px;
  border-radius: 0px 0px 20px 20px;
  padding: 30px;
  padding-top: 32px;
  padding-bottom: 29px;
  background-color: #edf0f9;
}

.courses__name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-grey-dark);
}

.courses__descr {
  margin-bottom: auto;
  padding-bottom: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-grey);
}

.courses__btn {
  padding: 21px 59px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.courses__list {
  margin-bottom: 30px;
}

.courses__item {
  position: relative;
}

.time {
  position: absolute;
  top: 10px;
  right: 19px;
  padding-top: 4px;
  padding-left: 29px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-image: url("../img/mdi_access_time.svg");
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--color-light);
}

/* footer */

.footer__container {
  padding: 0;
}

.social {
  background-color: var(--color-blue-dark);
}

.social__list {
  padding: 31px 0;
  padding-bottom: 24px;
}

.social__item:not(:last-child) {
  margin-right: 34px;
}

.trademark {
  margin-top: 3px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #333;
}

.trademark span {
  color: var(--color-blue);
}
